*{
    padding: 0;
    margin: 0;
}
body{
background-image: url(./1780998523970.jpg);
}

.div-container{
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-image: url(./1780997742120.jpg) ;
    width: 70%;
    justify-self: center;
    height: 400px;
    position: relative;
    box-shadow: 2px 2px 10px 2px rgb(102, 98, 98);
    


}

.p{
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color:black;
    font: bold;
    font-size: x-large;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f-div{
    display: flex;
    
    align-items: center;
    gap: 5px;
    justify-self: center;
    padding: 10px;

}
.s-div{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.t-div{
 display: flex;
 
    align-items: center;
    gap: 5px;
    justify-self: center;
    padding: 10px;
}
.first{
    width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.second{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.third{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.firsta{
    width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.seconda{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.thirda{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}

.firstb{
    width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.secondb{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}
.thirdb{
      width: 100px;
    height: 100px;
    border-radius: 900px;
    background-color: black;
}

.dots{
    font-weight: bolder;
    font-size: xx-large;
    color: aliceblue;
    position: absolute;
    top: 20px;
    margin-left: 40px;
}